<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>861820717258-glghsf97sdmqklnnu59ak5b58le462vr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.861820717258-glghsf97sdmqklnnu59ak5b58le462vr</string>
	<key>API_KEY</key>
	<string>AIzaSyAdkeyFLwRH-zBzls2u93XYp4FuBcByUwA</string>
	<key>GCM_SENDER_ID</key>
	<string>861820717258</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.handoverclientapp</string>
	<key>PROJECT_ID</key>
	<string>handover-65e47</string>
	<key>STORAGE_BUCKET</key>
	<string>handover-65e47.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:861820717258:ios:06355384bbdc4ef0f18c33</string>
</dict>
</plist>